@import "tailwindcss";


:root{
    --main-color: #B9FF66;
    --dark-color: #191A23;
    --grey-color: #F3F3F3;
}
.bg-dark-color{
    background-color: var(--dark-color);
}
.bg-main-color{
    background-color: var(--main-color);
}
.bg-grey-color{
    background-color: var(--grey-color);
}
.text-main-color{
    color: var(--main-color);
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: #FFFFFF;
    
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 450px){
    .container {
        width: 500px;
        }
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 700px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1200px;
    }
}
/* start header */
.header .nav .nav-list .btn{
    border: 1px solid var(--dark-color);
    padding: 15px 20px;
    border-radius: 8px;
}
.header .nav .nav-list .btn:hover{
    background-color: var(--dark-color);
    color: #fff;
    cursor: pointer;
    transition:0.4s;
}
.header .nav .nav-list li{
    display: flex;

}

.header .nav .nav-list li a{
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight:500;
    align-items: center;
    color: black;
    padding: 3px 8px;
    border-radius: 10px;
    transition: 0.4s all;
}
.header .nav .nav-list li a:hover{
    color: var(--grey-color);
    background-color: var(--dark-color);
}
/* end header */
/* start home page */
.home{
    height: calc(100vh - 150px);
}
.home .container .text-content h1{
    margin: 0;
    padding-bottom: 20px;
    font-size: 3.5em;
}
.home .container .text-content p{
    padding: 20px 20px 20px 0;
    line-height: 25px;
}
.home .container .text-content .btn{
    padding: 20px 0 20px 0;
}
.home .container .text-content .btn a{
    border: 1px solid var(--dark-color);
    padding: 15px 20px;
    border-radius: 8px;
    background-color: var(--dark-color);
}
.home .container .text-content{
    width: 530px;
    padding:0 40px 0 0;
}
.home .container .image-homepage{
    width: 450px;
}
.home .arrow-down{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    animation: rotateInfinite 2s linear infinite;
}

/* end home page */
/* start Services */
.Services .container .title-head .par-title{
    width: 500px;
}
.Services .title-head .main-title{
    background-color: var(--main-color);
}
.Services .card{
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08),
    0 20px 25px rgba(0, 0, 0, 0.05),
    0 2px 5px rgba(0, 0, 0, 0.08);
    background-color: var(--grey-color);
    border-radius: 35px;
    transition: 0.4s all;
}
.Services .card2,
.Services .card5{
    background-color: var(--main-color);
}
.Services .card3,
.Services .card6{
    background-color: var(--dark-color);
}
.Services .card:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    transform: translateY(-20px);
}
.Services .main-card .card .card-content .card-text h1{
    margin: 0;
    padding: 5px 8px;
    background-color: var(--main-color);
}
.Services .main-card .card .learn-more{
    transition: 0.4s all;
}
.Services .main-card .card .learn-more img:hover,
.Services .main-card .card .learn-more p:hover{
    cursor: pointer;
}
/* end Services */
/* start free proposal */
.proposal .container{
    height: 350px;
    background-color: var(--grey-color);
    border-radius: 30px;
}
.proposal .container .content-proposal{
    width: 500px;
    padding: 0 40px 0 0;
}
.proposal .container .content-proposal h1{
    font-size: 2em;
}
.proposal .container .content-proposal p{
    padding: 20px 20px 20px 0;
}
.proposal .container .content-proposal .btn{
    padding: 40px 0 20px 0;
}
.proposal .container .content-proposal .btn a{
    border: 1px solid var(--dark-color);
    padding: 15px 20px;
    border-radius: 8px;
    background-color: var(--dark-color);
}
/* end free proposal */
/* start Case Studies */
.case-studies .container .title-head .par-title{
    width: 500px;
}
.case-studies .title-head .main-title{
    background-color: var(--main-color);
}
.case-studies .container .case-content{
    background-color: var(--dark-color);
    height: 325px;
    border-radius: 30px;
    padding: 70px 60px 70px 60px;
}
.case-studies .container .case-content .content1{
    width: 270px;
    height: 165px;
}
.case-studies .container .case-content .content1 .arrow1{
    
    p{
        color: var(--main-color);
    }
}
/* end Case Studies */
/* start Our Working Process */
.Our-Working .container .title-head .main-title{
    background-color: var(--main-color);
}
.Our-Working .lists-ourWorking .list1 {
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 30px 40px;
    transition: background-color 0.4s ease;
    transition: 0.5s;
    overflow: hidden;
}
.Our-Working .lists-ourWorking .list1 .line-border,
.Our-Working .lists-ourWorking .list1 .content {
    max-height: 500px; 
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease;
}

.Our-Working .lists-ourWorking .list1.active {
    background-color: var(--grey-color);
    height: 130px;
}

.Our-Working .lists-ourWorking .list1.active .line-border,
.Our-Working .lists-ourWorking .list1.active .content {
    max-height: 0;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}

.Our-Working .lists-ourWorking .list1 .open-icon {
    position: relative;
    width: 58px;
    height: 58px;
}

.Our-Working .lists-ourWorking .list1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 100%;
    height: 100%;
}

.Our-Working .lists-ourWorking .list1 .close-icon{
    opacity: 1;
    transform: scale(1);
}

.Our-Working .lists-ourWorking .list1 .plus-icon {
    opacity: 0;
    transform: scale(0.8);
}

.Our-Working .lists-ourWorking .list1.active .close-icon {
    opacity: 0;
    transform: scale(0.8);
}

.Our-Working .lists-ourWorking .list1.active .plus-icon {
    opacity: 1;
    transform: scale(1);
}
/* end Our Working Process */
/* start team */
.team .container .title-head .main-title{
    background-color: var(--main-color);
}
.team .team-card .card1{
    width: 370px;
    height: 280px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.05),
    0 10px 15px rgba(0, 0, 0, 0.08),
    0 20px 25px rgba(0, 0, 0, 0.05),
    0 2px 5px rgba(0, 0, 0, 0.08);
    background-color: var(--grey-color);
    border-radius: 35px;
    transition: 0.4s all;
}
.team .team-card .card1:hover,
.team .team-card .card1 .bord:hover,
.team-card .card1 .head-card .information p:hover,
.team-card .card1 .content p:hover{
    background-color: var(--dark-color);
    color: #fff;

}
.team .container .btn{
    padding: 30px 0 20px 0;
}
.team .container .btn a{
    border: 1px solid var(--dark-color);
    padding: 15px 60px;
    border-radius: 8px;
    color: white;
    background-color: var(--dark-color);
}
/* end team */
/* Start Testimonials */
.Testimonials .container .title-head .main-title{
    background-color: var(--main-color);
}
.Testimonials .testimonials-container .testimonials-cards .testimonials-card1 .swiper{
    position: relative;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    padding: 30px;
    p{
        color: white;
        line-height: 30px;
    }
}
.Testimonials .testimonials-container .testimonials-cards .testimonials-card1 .swiper::before{
    content: "";
    position: absolute;
    left: 38px;
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main-color); 
}
.Testimonials .testimonials-container .testimonials-cards .infromation-user{
    transform: translateX(55px);
    width: fit-content;
}
.Testimonials .testimonials-cards .buttons{
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Testimonials .testimonials-cards .buttons .bullets i.active{
    color: var(--main-color);
    background: var(--main-color);
    border-radius: 50%;
}
.Testimonials .testimonials-cards .buttons .swiper-button-next i,
.Testimonials .testimonials-cards .buttons .swiper-button-prev i{
    font-size: 20px;
}
.Testimonials .testimonials-cards .buttons .swiper-button-next i.none,
.Testimonials .testimonials-cards .buttons .swiper-button-prev i.none{
    color: dimgrey;
    cursor: not-allowed;
}
/* End Testimonials */
/* start Contact Us */
.contact-us .contact-us-main .contact-us-container .main-form .form .dot-span.dot::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 11px;
    height: 11px;
    background-color: var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
}

/* end Contact Us */
/* animations */
@keyframes rotateInfinite {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}
